*{

}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.home{
    background-color: #343A40;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}
header{

}
nav {
    width: 100%;
    padding: 20px 20px; /* Adds some space around */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999; /* Keep it on top */
  }
  
.main-logo h1{
    color: #C2C5AA;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
nav .center{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
nav .right h1{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-variation-settings: "wdth" 100;
}
nav .center h1 a, .right h1 a{
    text-decoration: none;
    color: #FFFFFF;
}

/* header */
.profile{
    justify-content: center;
    align-items: center;
    padding: 20vh;
}
.headline{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.profile-pic img{
    width: 450px;
    border-radius: 50%;
}
.profile-description h1{
    font-size: 46px;
    color: white;
}
.profile-description p{
    font-size: 26px;
    color: #FFFFFF;
    font-weight: 300;
}
.profile-icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.profile-icons a img{
    width: 30px;
}

/* home section */

.projects{
    background-color: #495057;
    height: 100vh;
}
.projects-con{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.project-container{
    height: fit-content;
    background-color: #264653;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    
}
.project-pic{
    width: 200px;
    border-radius: 20px;
}
.project-container h1{
    padding: 0;
    margin: 0;
}
.project-container p{
    font-size: 20px;
    margin: 0;
    padding: 0;
}
/* project section */

.about-me{
    padding: 30px;
    background-color: #C2C5AA;
    height: fit-content;
    margin: 0;
}
.about-me-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}
.tomas-melesse{
    font-size: 104px;
    margin: 0;
}
.tomas{
    letter-spacing: 20px;
}
.languages{
    font-size: 50px;
}
.languages-types{
    font-size: 38px;
}
.about-me-item .right-item img{
    width: 830px;
}
/* .right-item{
    float: right;
}
.left-item{
    float: left;
} */


/* about me section */

.contact{
    background-color: #264653;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact-header h1{
    font-size: 95px;
    color: white;
}
.contact-icons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contact-icons div{
    margin: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.contact-icons a img{
    width: 30px;
    margin: 0;
}
.contact-icons a img:hover{
    transform: scale(1.1);
  }
.contact-icons h2{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 0;
}

footer, footer p{
    justify-content: center;
    text-align: center;
}
/* contact section */